body {
	display: block;
	width: 100%;
	min-height: 2910px;
	min-width: 1617px;
	background: #f8f8f8;
	font-family: "微软雅黑";
}

html {
	height: 2912px;
	width: 100%;
	min-height: 2912px;
	min-width: 1617px;
}

.popup {
	width: 100%;
	height: 37px;
	background: url(../img/bk_popupBk.jpg);
	background-size: cover;
	line-height: 37px;
}

.smart-spec {
	float: left;
	width: 410px;
	font-size: 12px;
	margin-left: 208px;
	vertical-align: middle;
}

.lookover {
	color: green;
}

.lookover:hover {
	text-decoration: underline;
}

.cancel {
	float: right;
	margin-right: 203px;
}

.cancel:hover {
	cursor: pointer;
}



.header{
	height:89px;
	line-height: 89px;
	width: 1208px; 
	margin-left: auto; 
	margin-right: auto;
	overflow: hidden;
	zoom: 1;
}

.header-logo{
	height: 89px;
	padding-left: 5px;
	margin-top: -4px;
	float: left;
}

.logo{
	display:inline-block;
	font-size: 22px;
}

.logo-png{
	display: inline-block;
	line-height: 18px;
	font-size: 28px;	
	vertical-align: middle;
}

.ft-logo-title{
	color: #39A030;
	vertical-align: middle;
}

.header-fans {
	background: url(../img/plus.png) 0 0 no-repeat #21a557;
	background-position: 9px 7px;
}

.header-fans,.header-fans-active{
	display: inline-block;	
	padding: 0 9px;	
	line-height: 21px;
	margin-left: 27px;	
	text-align: center;
	background-color: #21a557;
	color: #fff;
	border-radius: 2px;
	cursor:pointer;
}

.header-fans-active{
	background: url(../img/bk_check.png) 0 0 no-repeat #f8f8f8;
	background-position: 9px 7px;
	color: #333;
	cursor:default;
	border: 1px solid #efefef;
}

.header-fans:hover{
	background-color: #2FB556;
}

.header-fans-focus{
	display: inline-block;
	width: 11px;
	height: 11px;
	font-size: 16px;
	font-weight: bold;
}

.header-fans-no:hover{
	color: #21a557;
	text-decoration: underline;
	cursor: pointer;
}

.header-fans-num{
	display: inline-block;
	padding-left: 14px;
}

.header-nav{
	height: 89px;
	float: right;
}

.header-nav-list {
	float: left;
}

.header-nav-link{
	font-size: 16px;
	padding-left: 52px;
	color: #666666;
}

.header-nav-link:hover{
	color: #21a557;
	text-decoration: none; 
}

.header-search{
	width: 19px;
	height: 19px;
	margin: 35px 15px 0 30px;
	cursor:pointer;
}














.center {
	position: relative;
	height: 2572px;
	width: 1617px;
	margin: 0 auto;
}

.banner{
	position: relative;
	width: 100%;
	height:460px;
	overflow: hidden;
	margin: 0 auto;
}
.banner-nav{
	position: relative;
	width: 1652px;
	height: 460px;
	left: 50%;
	margin-left: -826px;
}
.banner-img{
	opacity: 0;	
	filter:alpha(opacity=0);
	position: absolute;
}
.banner-img-active{
	position: absolute;	
	opacity: 1;
	filter:alpha(opacity=100);
	transition: 2000ms opacity;	
}
.banner-img-png{
	width: 1652px;
	height: 460px;
}
.banner-con{
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.banner-dot,.banner-dot-active{
	display: inline-block;
	margin: 0 4px;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	cursor:pointer;
}
.banner-dot-active{
	background-color: #333;
	cursor:default;
}

.product {
	width: 1617px;
	height: 299px;
	vertical-align: middle;
}

.wangyi-open-interview {
	position: relative;
	float: left;
	color: gray;
	width: 348px;
	height: 244px;
	margin-left: 208px;
	margin-right: 20px;
	background: #f8f8f8;
	padding-top: 55px;
	line-height: 23px;
}

.wangyi-open-icon-pic {
	position: absolute;
	background:url(../img/bk_openClass.png) 0 0 no-repeat #39a030;
	background-position: center center;
	border: none;
	border-radius: 50%;
	width: 82px;
	height: 82px;
	text-align: center;
}

.wangyi-cloud-icon-pic {
	position: absolute;
	background:url(../img/bk_cloudClass.png) 0 0 no-repeat #39a030;
	background-position: center center;
	border: none;
	border-radius: 50%;
	width: 82px;
	height: 82px;
	text-align: center;
}

.wangyi-mooc-icon-pic {
	position: absolute;
	background:url(../img/bk_Mooc.png) 0 0 no-repeat #39a030;
	background-position: center center;
	border: none;
	border-radius: 50%;
	width: 82px;
	height: 82px;
	text-align: center;
}

.product-title {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 22px;
	color: #333;
	font-weight: normal;
}

.product-para {
	font-size: 14px;
	line-height: 24px;
	color: #666;
	text-align: justify;
	margin-bottom: 36px;
}

.wangyi-open-icon {
	float: left;
	width: 82px;
	height: 299px;
	margin-right: 20px;
}

.bk-open-class {
	bottom: 148px;
	margin-top: 21px;
}

.more {
	padding-top: 36px;
	color: #39a030;
	font-size: 14px;
}

.more:hover {
	text-decoration: underline;
}

.wangyi-cloud-interview {
	float: left;
	color: gray;
	width: 348px;
	height: 244px;
	margin-left: 54px;
	margin-right: 20px;
	background: #f8f8f8;
	padding-top: 55px;
	line-height: 23px;
}

.wangyi-mooc-interview {
	float: left;
	color: gray;
	width: 348px;
	height: 244px;
	margin-left: 54px;
	margin-right: 20px;
	background: #f8f8f8;
	padding-top: 55px;
	line-height: 23px;
}

.work-space {
	position: relative;
	height: 301px;
	width: 1615px;
	text-align: center;
	background: #f8f8f8;
}

.work-space-table {
	width: 1615px;
	height: 220px;
	position: relative;
	margin: 0;
	overflow: hidden;
}

.work-space-list {
	width: 322px;
	height: 220px;
	display: inline;
	list-style: none;
}






.center-course {
	background: #f8f8f8;
}

.course {
	height: 1512px;
	width: 1208px; 
	margin-left: auto; 
	margin-right: auto;
	overflow: hidden;
	zoom: 1;
}

.course-main {
	width: 980px;
	float: left;
	color: #666;
}

.course-type {
	width: 400px;
	height: 50px;
	margin-bottom: 28px;
	border: 1px solid #d4d3d3;
	border-top: none;
	box-shadow: 2px 2px 5px #ecebeb;
	zoom: 1;
}

.course-type-name-active, .course-type-name{
	float: left;
	width: 200px;
	height: 50px;
	color: #666;
	background: #fff;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	cursor: pointer;
}

.course-type-name:hover,.course-type-name-active{
	color: #fff;
	background: #39a030;
}

.course-main-table {
	height: 1240px;
	width: 850px;
	overflow: hidden;
	zoom: 1;
}

.course-main-list{
	float: left;
	width: 223px;
	margin-right: 18px;
	margin-bottom: 19px;
	padding: 1px;
	border: 1px solid #f1f1f1;
	border-top: none;
	box-shadow: 0 1px 1px #f1f1f1;
	background-color: #fff;	
	cursor: pointer;
}

.course-main-list:hover{
	box-shadow: 0 2px 20px #e6e6e6,0 -2px 20px #e6e6e6;
	color: #39a030;
}

.course-main-list:hover{
	color: #39a030;
}

.course-information {
	padding-left: 4px;
}

.course-img {
	width: 223px;
	height: 124px;
}

.course-information {
	padding-left: 4px;
}

.course-name {
	padding-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.course-source {
	color: #999;
}

.course-student-num {
	display: inline-block;
	height: 11px;
	line-height: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px 3px 3px;
	border: 1px solid #999;
	border-radius: 3px;
	color: #999;	
	font-size: 10px;
}

.people {
	vertical-align: middle;
}

.course-price {
	color: #ff3f00;
	padding-bottom: 3px;
}

.main-page {
	padding-top: 9px;
	padding-right: 18px;
	text-align: right;
}

.page-left, .page-right {
	display:inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #666;
	text-align: center;
	cursor: pointer;
	margin-right: 5px;
	margin-left: 5px;
	width: 30px;
	background-color: #9dd8b1;
	color: #fff;
	text-decoration: none;
}

.page-num {
	display:inline-block;
}

.page-number {
	display:inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #666;
	text-align: center;
	cursor: pointer;
	margin-left: 5px;
}

.page-number:hover {
	background-color: #9dd8b1;
	color: #fff;
	text-decoration: none;
}

.page-number-active {
	display:inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #666;
	text-align: center;
	cursor: pointer;
	margin-left: 5px;
	color: #fff;
	background: #9dd8b1;
}

.page-number-active:hover {
	background-color: #9dd8b1;
	color: #fff;
	text-decoration: none;
}

.course-side {
	width: 225px;
	float: right;
}

.company-introduce {
	padding-bottom: 20px;
	border: 1px solid #ecebeb;
	border-top: none;
	background-color: #fff;
	margin-bottom: 20px;
}

.company-introduce-title {
	padding-bottom: 1px;	
	padding-left: 20px;
	font-size: 16px;
	line-height: 54px;
	border-bottom: 1px solid #ecebeb;
}

.company-introduce-video {
	font-size: 14px;
	line-height: 32px;
	padding-top: 11px;
	text-indent: 22px;
	color: #666;	
}

.company-introduce-img {
	width: 180px;
	height: 110px;
	padding-right: 1px;
	padding-left: 22px;
	cursor: pointer;
}

.hot-course {
	border: 1px solid #ecebeb;
	border-top: none;
	background-color: #fff;
}

.hot-course-title {
	font-size: 16px;
	line-height: 54px;
	padding-bottom: 2px;
	text-indent: 20px;
	border-bottom: 1px solid #ecebeb;
}

.hot-course-table{
	padding: 19px 12px 0 20px;
	height: 700px;
	overflow: hidden;
}

.hot-course-list{
	width: 191px;
	height: 50px;
	padding-bottom: 20px;
	overflow: hidden;
	transition: 200ms margin;
}

.hot-course-list:hover {
	cursor: pointer;
}

.hot-course-img {
	float: left;
	width: 50px;
	height: 50px;
}

.hot-course-introduce{
	color: #666;
	float: right;
	width: 128px;
}

.hot-course-introduce-tit{
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 14px;	
}

.hot-course-student{
	line-height: 36px;
	height: 36px;
}

.people {
	vertical-align: middle;
}

.hide-login-page{
	background-color: rgba(0,0,0,0); 
	z-index: -1;
	transition: 1s background-color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hide-login{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 295px;
	height: 238px;
	padding: 10px 52px 40px 40px;
	margin-top: -144px;
	margin-left: -194px;
	transform: scale(0);
	visibility: hidden;
	transition: 1s transform;
	background-color: #fff;
}

.hide-login-title{	
	font-size: 18px;
	line-height: 58px;
	color: #444;
}
.hide-login-input{
	display: block;
	width: 293px;
	height: 45px;
	margin-bottom: 15px;
	padding-top: 1px;
	text-indent: 11px;
	background-color: #fafafa;
	font-size: 16px;
	line-height: 42px;	
	color: #000;
	border: 1px solid #dfdfdf;
	box-shadow: inset 2px 2px 3px #f1f1f1;
}

.hide-login-btn{
	width: 100%;
	margin-top: 14px;
	font-size: 16px;
	line-height: 46px;
	color: #fff;
	background-color: #30b555;
	box-shadow: 2px 2px 3px #d5e3da;
}

.hide-login-close{
	position: absolute;
	top: -2px;
	right: 18px;
	width: 11px;
	height: 11px;
	font-size: 22px;
	cursor:pointer;
}

.hide-video{
	background-color: rgba(0,0,0,0);
	z-index: -1;
	transition: 1s background-color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.hide-video-box{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 950px;
	height: 676px;
	margin-top: -338px;
	margin-left: -475px;
	transform: scale(0);
	visibility: hidden;
	transition: 1s transform;
	background-color: #fff;		
}

.hide-video-para{
	padding-top: 7px;	
	font-size: 18px;
	line-height: 62px;
	color: #444;
	text-indent: 30px
}

.hide-video-close{
	position: absolute;
	top: 6px;
	right: 12px;
	width: 10px;
	height: 10px;
	font-size: 26px;
	cursor:pointer;
}

.hide-video-play{
	display: block;
	padding: 0 30px 40px 31px;
	width: 889px;
	height: 567px;
}

.hide-introduce{
	display: none;
	position: absolute;
	background: #fff;
	z-index: 1;
	border: 1px solid #d1d0d0;
	box-shadow: 1px 1px 3px #eeedee,-1px -1px 3px #eeedee;
}

.hidehide-introduce-title{
	width: 223px;
	height: 124px;
	padding: 11px 19px 0 11px;
	float: left;
}

.hide-introduce-top{
	background: #fff;
	padding-right: 34px;
	padding-bottom: 25px;
	zoom: 1;
}

.hide-introduce-txtBox{
	line-height: 20px;
	width: 150px;
	float: left;
}

.hide-introduce-txtBox-tit{
	font-size: 18px;
	line-height: 44px;
	padding-top: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hide-introduce-bottom{
	width: 418px;
	padding: 12px 40px 18px 21px;
	background: #f8f8f8;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
}










.footer {
	width: 100%;
	background: #2c3339;
	height: 297px;
	left: 200px;
}

.footer-information {
	width: 395px;
	height: 100px;
	padding-top: 93px;
	margin-left: 256px;
	font-size: 13px;
	color: #fff;
}

.footer-logo {
	float: left;
	padding-top: 3px;
	margin-bottom: 15px;
}

.footer-logo-name {
	width: 384px;
	color: #39a030;
	font-size: 22px;
}

.footer-information p {
	line-height: 25px;
	font-weight: normal;
	color: #a2a4a5;
}

.web-link {
	float: right;
	width: 210px;
	height: 100px;
	margin-right: 170px;
	margin-top: -105px;
}

.web-link-title {
	color: #a2a4a5;
	font-size: 13px;
	line-height: 29px;
}

.web-link-address {
	font-size: 14px;
	line-height: 28px;
	text-decoration: none;
	color: #a2a4a5;
}

.web-link-address:hover {
	text-decoration: underline;
}

.us {
	display: block;
	float: right;
	width: 134px;
	height: 100px;
	margin-right: 46px;
	margin-top: -105px;
}

.weibo {
	display: inline-block;
	float: right;
    top: 90px;
    left: 30px;
    margin-right: 81px;
    margin-top: 5px;
}

.footer-more {
	float: right;
	width: 64px;
	height: 100px;
	margin-top: -105px;
	margin-right: -16px;
}